<aside class="sidebar">
        <figure class="logo">
            <img src="./images/saavy-brand-2.ico" alt="logo">
            <h3>ShiftSaavy</h3>
        </figure>
        <ul class="links">
            <li>
                <h4>Main Menu</h4>
            </li>
            <li>
                <span class="material-symbols-outlined">grid_view</span>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <span class="material-symbols-outlined">calendar_month</span>
                <a href="#">Schedule</a>
            </li>
            <li>
                <span class="material-symbols-outlined">swap_horiz</span>
                <a href="#">Shift Swap</a>
            </li>
            <li>
                <span class="material-symbols-outlined">perm_phone_msg</span>
                <a href="#">Call Off</a>
            </li>
            <hr>
            <h4>Insights</h4>
            <li>
                <span class="material-symbols-outlined">notifications</span>
                <a href="#">Notifications</a>
            </li>
            <li>
                <span class="material-symbols-outlined">mail</span>
                <a href="#">Inbox </a>
            </li>
            <li class="logout-link">
                <span class="material-symbols-outlined">logout</span>
                <a href="#">Logout</a>
            </li>
            <!--<li class="dark-mode-toggle">
                <span class="material-symbols-outlined">dark_mode</span>
                <a href="#">Dark Mode</a>
                <div class="toggle-switch">
                    <label class="switch-label">
                      <input type="checkbox" class="checkbox">
                      <span class="slider"></span>
                    </label>
                  </div>  
            </li> -->
        </ul>

    </aside>

    <section class="dashboard">
        <header class="top">
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </header>
    
        <main class="dash-content">
            <section class="overview">
                <header class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </header>
    
                <div class="boxes">
                    <article class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Next Shift</span>
                        <span class="number"></span>
                    </article>
                    <article class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">Swap Shift</span>
                        <span class="number"></span>
                    </article>
                    <article class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Time Card</span>
                        <span class="number"></span>
                    </article>
                </div>
            </section>
    
            <section class="activity">
                <header class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activity</span>
                </header>
    
                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Name</span>
                        <span class="data-list">Prem Shahi</span>
                        <span class="data-list">Deepa Chand</span>
                        <span class="data-list">Manisha Chand</span>
                        <span class="data-list">Pratima Shahi</span>
                        <span class="data-list">Man Shahi</span>
                        <span class="data-list">Ganesh Chand</span>
                        <span class="data-list">Bikash Chand</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Email</span>
                        <span class="data-list">premshahi@gmail.com</span>
                        <span class="data-list">deepachand@gmail.com</span>
                        <span class="data-list">prakashhai@gmail.com</span>
                        <span class="data-list">manishachand@gmail.com</span>
                        <span class="data-list">pratimashhai@gmail.com</span>
                        <span class="data-list">manshahi@gmail.com</span>
                        <span class="data-list">ganeshchand@gmail.com</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Joined</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-15</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Type</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                    </div>
                    <div class="data status">
                        <span class="data-title">Status</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                    </div>
                </div>
            </section>
        </main>
    </section>