<section class="dashboard">
        <header class="top">
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            
            <!--<img src="images/profile.jpg" alt="">-->
        </header>
    
        <main class="dash-content">
            <section class="overview">
                <header class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Dashboard</span>
                </header>
    
                <div class="boxes">
                    <article class="box box1">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Next Shift</span>
                        <span class="number">April 7, 2024</span>
                    </article>
                    <article class="box box2">
                        <i class="uil uil-comments"></i>
                        <span class="text">Swap Shift</span>
                        <span class="number">Request Pending</span>
                    </article>
                    <article class="box box3">
                        <i class="uil uil-share"></i>
                        <span class="text">Time Card</span>
                        <span class="number">37.5 hours</span>
                    </article>
                </div>
            </section>
    
            <section class="activity">
                <header class="title">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Recent Activity</span>
                </header>
    
                <div class="activity-data">
                    <div class="data names">
                        <span class="data-title">Name</span>
                        <span class="data-list">Tim Robert</span>
                        <span class="data-list">Rob Alexander</span>
                        <span class="data-list">Diana John</span>
                        <span class="data-list">April Daniel</span>
                        <span class="data-list">Paige Francis</span>
                    </div>
                    <div class="data email">
                        <span class="data-title">Email</span>
                        <span class="data-list">timrob@hotmail.com</span>
                        <span class="data-list">robal@gmail.com</span>
                        <span class="data-list">dianajo@hotmail.com</span>
                        <span class="data-list">aprildan@hotmail.com</span>
                        <span class="data-list">paigefr@hotmail.com</span>
                    </div>
                    <div class="data joined">
                        <span class="data-title">Joined</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-12</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-13</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-14</span>
                        <span class="data-list">2022-02-15</span>
                    </div>
                    <div class="data type">
                        <span class="data-title">Type</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                        <span class="data-list">New</span>
                        <span class="data-list">Member</span>
                    </div>
                    <div class="data status">
                        <span class="data-title">Status</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                        <span class="data-list">Liked</span>
                    </div>
                </div>
            </section>
        </main>
    </section>
