<section class="container">
          <input type="checkbox" id="signup_toggle" hidden>
          <article class="form">
              <form id="form-login" class="form_front">
                  <h2 class="form_details">Login</h2>
                  <input type="text" class="input" placeholder="Username">
                  <input type="password" class="input" placeholder="Password">
                  <button type="submit" class="btn">Login</button>
                  <p class="switch">Don't have an account? <span class="signup_tog">Sign Up</span></p>
              </form>
              <form class="form_back">
                  <h2 class="form_details">Sign Up</h2>
                  <input type="text" class="input" placeholder="Email">
                  <input type="password" class="input" placeholder="Password">
                  <button type="submit" class="btn">Sign Up</button>
                  <p class="switch">Already have an account? <span class="signup_tog">Login</span></p>
              </form>
          </article>
        </section>