@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(135deg, #AA6DA3 10%, #F0E5EF 100%)
}

body::before,
body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

body::before {
    clip-path: circle(30% at left 20%);
    opacity: 0.4;
    background-image: linear-gradient(178deg, #F0E5EF 10%, #3c0554 100%);
}

body::after {
    opacity: 0.6;
    clip-path: circle(25% at right 80%);
    background-image: linear-gradient(179deg, #8b4983 10%, #F0E5EF 100%);
}

header .navbar {
    height: 75vh;
    width: 90%;
    background-color: black;
}

header {
    height: 85vh;
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 12;
    border-radius: 25px;
    margin: auto;
    position: relative;
}


